@font-face {
  font-family: 'jezioro';
  font-style: normal;
  font-weight: normal;
  src: url('czcionki/czcionka_www_jezioro.eot');
  src: url('czcionki/czcionka_www_jezioro.eot?#iefix') format('embedded-opentype'), url('czcionki/czcionka_www_jezioro.woff') format('woof'), url('czcionki/czcionka_www_jezioro.ttf') format('truetype'), url('czcionki/czcionka_www_jezioro.svg#jezioro') format('svg');
}

@font-face {
  font-family: 'wiatr';
  font-style: normal;
  font-weight: normal;
  src: url('czcionki/czcionka_www_wiatr.eot');
  src: url('czcionki/czcionka_www_wiatr.eot?#iefix') format('embedded-opentype'), url('czcionki/czcionka_www_wiatr.woff') format('woof'), url('czcionki/czcionka_www_wiatr.ttf') format('truetype'), url('czcionki/czcionka_www_wiatr.svg#wiatr') format('svg');
}

html, body {
  height: 100%;
}

body {
  background: rgb(149, 194, 215);
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.tytul-miniatury {
  background: rgb(96, 125, 139);
  color: rgb(202, 238, 255);
  display: block;
  font-size: 18px;
  margin: 0;
  padding: 4px 10px;
}

a {
  text-decoration: none;
}

.element-listy {
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
  display: inline-block;
  min-width: 120px;
  max-width: 120px;
  transition: transform 133ms ease-in-out;
}

.element-listy:hover {
  transform: scale(1.2);
}

.lista-miniatur {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
  list-style: none;
  order: 2;
  overflow-x: auto;
  padding: 20px 0;
  white-space: nowrap;
}

.obraz-miniatury {
  display: block;
  width: 100%;
}

.tekst-logo {
  background: white;
  font-family: jezioro;
  font-size: 37px;
  text-align: center;
  text-transform: uppercase;
}

.duzy-obraz {
  width: 90%;
}

.glowny-tytul {
  flex: 0 1 auto;
}

.glowna-tresc {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.kontener-duzego-obrazu {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

.ramka-duzego-obrazu {
  position: relative;
  text-align: center;
  transition: transform 333ms;
}

.bardzo-maly-obraz{
  transform: scale(0.001);
  transition: transform 0ms;
}

.tytul-duzego-obrazu {
  bottom: -16px;
  color: white;
  font-family: wiatr;
  font-size: 40px;
  left: 4px;
  position: absolute;
  text-shadow: rgba(0, 0, 0, 0.9) 1px 2px 9px;
}

.stopka {
  text-align: center;
}

.ukryty-duzy-obraz .kontener-duzego-obrazu {
  display: none;
}

.ukryty-duzy-obraz .lista-miniatur {
  align-items: center;
  flex-direction: column;
}

.ukryty-duzy-obraz .element-listy {
  max-width: 80%;
}

@media all and (min-width: 768px) {
  .glowna-tresc {
    flex-direction: row;
    overflow: hidden;
  }
  .lista-miniatur {
    flex-direction: column;
    margin-left: 20px;
    order: 0;
    padding: 0 35px;
  }
  .element-listy {
    max-width: 260px;
  }
  .element-listy+.element-listy {
    margin-top: 20px;
  }
}
